<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

  <div id="navigate_menu" class="ui-corner-all">
    <ul>
      <li>Admin menu</li>
      <li><a href="/users">员工管理</a></li>
      <li><a href="/members">会员管理</a></li>
    </ul>
  </div>
<div style="clear:both;"></div>
