<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

  <div id="navigate_menu" class="ui-corner-all">
    <ul>
      <li><a href="/main">主页</a></li>
      <li><a href="/mobiles">手机信息</a></li>
      <li><a href="/quotations">报价录入</a></li>
      <li><a href="/brands">品牌管理</a></li>
      <li><a href="/suppliers">供应商管理</a></li>
    </ul>
  </div>
<div style="clear:both;"></div>
